.homepage{
    overflow-x: hidden;
    font-weight: normal;
    background-image: url('/static/assets/images/lockimg.png') !important;
    background-repeat: no-repeat;
    background-position:top;
    background-size: 800px;
    background-attachment: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}