.wrapper {
    display:flex;
    flex-direction: column;
    flex: 1fr 1fr;
    height: 75em;
    justify-content: space-between;
}

.detail-wrapper{

}

.item-card{
    height:50em;
}
.leftside img{
    height:100%;
}
.rightside {
    height:100%;
    .top{
    font-size:470%
}.bottom img{
    height:100%;

}}