.task-item-container{
    width: 100%;
}



.task-card{
    display:flex;
    flex: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    
}
.task{
    width:1000px;
}



.content{
    display:none;

}

.show{
    display:block;
}